<p-table [value]="pieces" styleClass="p-datatable-striped">
    <ng-template pTemplate="caption">
        <p-dropdown [options]="lieux" optionLabel="lieu" placeholder="Selectionner un lieu" (onChange)="changeLieu($event.value)"></p-dropdown>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Nom</th>
            <th>Delete</th>
            <th><p-button icon="pi pi-plus" label="Ajouter" (click)="op.toggle($event)" [disabled]="lieuService.lieuInstance().uuid == null"></p-button></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-piece let-rowIndex="rowIndex">
        <tr>
            <td>
                <p-inplace [closable]="true" closeIcon="pi pi-save" (onDeactivate)="update(piece)" [disabled]="piece.uuid == '00000000-0000-0000-0000-000000000001'">
                    <ng-template pTemplate="display">
                        <span pTooltip="Click pour editer">{{piece.nom}}</span>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <input #newLieuUpdate type="text" (change)="piece.nom=newLieuUpdate.value" value="{{piece.nom}}" />
                    </ng-template>
                </p-inplace>
            </td>
            @if(piece.uuid == '00000000-0000-0000-0000-000000000001') {
            <td></td>
            }@else{
            <td><span class="pointer pi pi-trash" (click)="delete(piece)"></span></td>
            }
            <td></td> <!--c'est pour la colonne "Ajouter"-->
        </tr>
    </ng-template>
</p-table>
<p-overlayPanel #op>
    Nouvelle piece:<br>
    <input #inputNewPiece type="text" /><p-button label="Save" (click)="add(inputNewPiece.value)"></p-button>
</p-overlayPanel>
<p-toast></p-toast>